@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  /* Premium Colors */
  --color-surface: #fcf9f8;
  --color-surface-dim: #dcd9d9;
  --color-surface-bright: #fcf9f8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container: #f0eded;
  --color-surface-container-high: #eae7e7;
  --color-surface-container-highest: #e5e2e1;
  --color-on-surface: #1c1b1b;
  --color-on-surface-variant: #4e4639;
  --color-outline: #7f7667;
  --color-outline-variant: #d1c5b4;
  --color-primary: #775a19;
  --color-on-primary: #ffffff;
  --color-primary-container: #c5a059;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-background: #fcf9f8;
  --color-on-background: #1c1b1b;

  /* Premium Typography */
  --font-serif: "Libre Caslon Text", serif;
  --font-sans: "Hanken Grotesk", sans-serif;

  /* Custom Font Sizes */
  --text-display-lg: 48px;
  --text-display-lg-mobile: 32px;
  --text-headline-md: 32px;
  --text-headline-sm: 24px;
  --text-body-lg: 18px;
  --text-body-md: 16px;
  --text-body-sm: 14px;
  --text-label-md: 14px;
  --text-label-sm: 12px;

  /* Custom Spacing Rules */
  --spacing-base: 8px;
  --spacing-xs: 4px;
  --spacing-sm: 12px;
  --spacing-md: 24px;
  --spacing-lg: 48px;
  --spacing-xl: 80px;
  --spacing-margin-mobile: 16px;
  --spacing-margin-desktop: 40px;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}